<a href="https://colab.research.google.com/github/tysenwadge/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns.
application_df = application_df.drop(columns=['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
#more clean-up for optimization
application_df = application_df.drop(columns=['ASK_AMT'])
application_df.nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
INCOME_AMT           9
IS_SUCCESSFUL        2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
replace_counts = application_df['APPLICATION_TYPE'].value_counts()
replace_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(replace_counts[replace_counts<528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts[classification_value_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts[classification_value_counts<1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
#Check data types to determine categorical variables
application_df.dtypes

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
INCOME_AMT          object
IS_SUCCESSFUL        int64
dtype: object

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`

dummies = pd.get_dummies(application_df)
dummies.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,1,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,0,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,1,False,False,False,True,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,1,False,False,False,True,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X.shape[1]
hidden_nodes_layer1 = 7
hidden_nodes_layer2 = 14

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))  # Sigmoid activation for binary classification


# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 7)                                280

 dense_4 (Dense)                       (None, 14)                               112

 dense_5 (Dense)                       (None, 1)                                 15

 Total params: 407 (1.59 KB)

 Trainable params: 407 (1.59 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Create a callback that saves the model's weights every five epochs
#checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
   # filepath='AlphabetSoupCharity.weights.h5',  # File name to save the model
   # save_weights_only=True,
   # save_freq=5,  # Save weights every 5 epoch

#)

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804  7s 7ms/step - accuracy: 0.6098 - loss: 0.6658
Epoch 2/100
804/804  10s 6ms/step - accuracy: 0.7222 - loss: 0.5702
Epoch 3/100
804/804  5s 6ms/step - accuracy: 0.7245 - loss: 0.5607
Epoch 4/100
804/804  4s 5ms/step - accuracy: 0.7213 - loss: 0.5628
Epoch 5/100
804/804  6s 7ms/step - accuracy: 0.7309 - loss: 0.5521
Epoch 6/100
804/804  9s 5ms/step - accuracy: 0.7278 - loss: 0.5567
Epoch 7/100
804/804  6s 6ms/step - accuracy: 0.7253 - loss: 0.5575
Epoch 8/100
804/804  4s 5ms/step - accuracy: 0.7272 - loss: 0.5519
Epoch 9/100
804/804  5s 6ms/step - accuracy: 0.7300 - loss: 0.5520
Epoch 10/100
804/804  5s 6ms/step - accuracy: 0.7313 - loss: 0.5494
Epoch 11/100
804/804  5s 5ms/step - accuracy: 0.7332 - loss: 0.5521
Epoch 12/100
804/804  6s 7ms/step - accuracy: 0.7299 - loss: 0.5492
Epoch 13/100
804/804  5s 7ms/step - accuracy: 0.7334 - loss: 0.5463
Epoch 14/100
804/804  10s 7ms/step - accuracy: 0.7349 - loss: 0.5474
Epoch 15/100
804/804  4s 5ms/step - accuracy: 0.7308 - loss: 0.5485
Epoch 16/100
804/804  6s 7ms/step - accuracy: 0.7265 - loss: 0.5540
Epoch 17/100
804/804  9s 5ms/step - accuracy: 0.7293 - loss: 0.5515
Epoch 18/100
804/804  6s 7ms/step - accuracy: 0.7353 - loss: 0.5449
Epoch 19/100
804/804  9s 5ms/step - accuracy: 0.7291 - loss: 0.5486
Epoch 20/100
804/804  6s 7ms/step - accuracy: 0.7318 - loss: 0.5486
Epoch 21/100
804/804  4s 5ms/step - accuracy: 0.7383 - loss: 0.5431
Epoch 22/100
804/804  6s 7ms/step - accuracy: 0.7353 - loss: 0.5432
Epoch 23/100
804/804  9s 6ms/step - accuracy: 0.7330 - loss: 0.5470
Epoch 24/100
804/804  5s 7ms/step - accuracy: 0.7323 - loss: 0.5449
Epoch 25/100
804/804  4s 5ms/step - accuracy: 0.7335 - loss: 0.5447
Epoch 26/100
804/804  5s 5ms/step - accuracy: 0.7288 - loss: 0.5515
Epoch 27/100
804/804  6s 6ms/step - accuracy: 0.7372 - loss: 0.5443
Epoch 28/100
804/804  4s 6ms/step - accuracy: 0.7312 - loss: 0.5487
Epoch 29/100
804/804  6s 7ms/step - accuracy: 0.7345 - loss: 0.5449
Epoch 30/100
804/804  4s 5ms/step - accuracy: 0.7400 - loss: 0.5390
Epoch 31/100
804/804  5s 6ms/step - accuracy: 0.7306 - loss: 0.5482
Epoch 32/100
804/804  6s 7ms/step - accuracy: 0.7366 - loss: 0.5428
Epoch 33/100
804/804  4s 5ms/step - accuracy: 0.7325 - loss: 0.5481
Epoch 34/100
804/804  5s 6ms/step - accuracy: 0.7363 - loss: 0.5435
Epoch 35/100
804/804  5s 6ms/step - accuracy: 0.7371 - loss: 0.5430
Epoch 36/100
804/804  5s 6ms/step - accuracy: 0.7375 - loss: 0.5418
Epoch 37/100
804/804  6s 8ms/step - accuracy: 0.7363 - loss: 0.5422
Epoch 38/100
804/804  5s 6ms/step - accuracy: 0.7309 - loss: 0.5478
Epoch 39/100
804/804  5s 6ms/step - accuracy: 0.7353 - loss: 0.5443
Epoch 40/100
804/804  6s 7ms/step - accuracy: 0.7276 - loss: 0.5473
Epoch 41/100
804/804  9s 6ms/step - accuracy: 0.7361 - loss: 0.5422
Epoch 42/100
804/804  5s 6ms/step - accuracy: 0.7321 - loss: 0.5448
Epoch 43/100
804/804  5s 6ms/step - accuracy: 0.7293 - loss: 0.5502
Epoch 44/100
804/804  6s 7ms/step - accuracy: 0.7295 - loss: 0.5493
Epoch 45/100
804/804  5s 6ms/step - accuracy: 0.7378 - loss: 0.5413
Epoch 46/100
804/804  4s 6ms/step - accuracy: 0.7357 - loss: 0.5435
Epoch 47/100
804/804  6s 7ms/step - accuracy: 0.7325 - loss: 0.5462
Epoch 48/100
804/804  4s 6ms/step - accuracy: 0.7310 - loss: 0.5499
Epoch 49/100
804/804  5s 6ms/step - accuracy: 0.7362 - loss: 0.5419
Epoch 50/100
804/804  5s 7ms/step - accuracy: 0.7328 - loss: 0.5457
Epoch 51/100
804/804  4s 5ms/step - accuracy: 0.7347 - loss: 0.5436
Epoch 52/100
804/804  6s 6ms/step - accuracy: 0.7361 - loss: 0.5449
Epoch 53/100
804/804  9s 5ms/step - accuracy: 0.7355 - loss: 0.5417
Epoch 54/100
804/804  5s 7ms/step - accuracy: 0.7341 - loss: 0.5440
Epoch 55/100
804/804  9s 6ms/step - accuracy: 0.7391 - loss: 0.5401
Epoch 56/100
804/804  6s 7ms/step - accuracy: 0.7370 - loss: 0.5444
Epoch 57/100
804/804  9s 6ms/step - accuracy: 0.7391 - loss: 0.5393
Epoch 58/100
804/804  5s 6ms/step - accuracy: 0.7338 - loss: 0.5414
Epoch 59/100
804/804  11s 7ms/step - accuracy: 0.7387 - loss: 0.5402
Epoch 60/100
804/804  6s 7ms/step - accuracy: 0.7313 - loss: 0.5459
Epoch 61/100
804/804  9s 6ms/step - accuracy: 0.7364 - loss: 0.5425
Epoch 62/100
804/804  5s 6ms/step - accuracy: 0.7348 - loss: 0.5404
Epoch 63/100
804/804  5s 6ms/step - accuracy: 0.7396 - loss: 0.5381
Epoch 64/100
804/804  6s 7ms/step - accuracy: 0.7360 - loss: 0.5431
Epoch 65/100
804/804  4s 5ms/step - accuracy: 0.7337 - loss: 0.5424
Epoch 66/100
804/804  4s 5ms/step - accuracy: 0.7370 - loss: 0.5415
Epoch 67/100
804/804  5s 7ms/step - accuracy: 0.7321 - loss: 0.5470
Epoch 68/100
804/804  4s 5ms/step - accuracy: 0.7305 - loss: 0.5474
Epoch 69/100
804/804  5s 6ms/step - accuracy: 0.7313 - loss: 0.5483
Epoch 70/100
804/804  6s 6ms/step - accuracy: 0.7324 - loss: 0.5445
Epoch 71/100
804/804  4s 5ms/step - accuracy: 0.7333 - loss: 0.5431
Epoch 72/100
804/804  5s 6ms/step - accuracy: 0.7321 - loss: 0.5468
Epoch 73/100
804/804  9s 5ms/step - accuracy: 0.7341 - loss: 0.5463
Epoch 74/100
804/804  6s 7ms/step - accuracy: 0.7280 - loss: 0.5499
Epoch 75/100
804/804  9s 5ms/step - accuracy: 0.7321 - loss: 0.5459
Epoch 76/100
804/804  6s 6ms/step - accuracy: 0.7329 - loss: 0.5459
Epoch 77/100
804/804  10s 7ms/step - accuracy: 0.7308 - loss: 0.5487
Epoch 78/100
804/804  9s 5ms/step - accuracy: 0.7338 - loss: 0.5425
Epoch 79/100
804/804  6s 7ms/step - accuracy: 0.7410 - loss: 0.5386
Epoch 80/100
804/804  4s 6ms/step - accuracy: 0.7281 - loss: 0.5494
Epoch 81/100
804/804  5s 6ms/step - accuracy: 0.7295 - loss: 0.5458
Epoch 82/100
804/804  7s 8ms/step - accuracy: 0.7362 - loss: 0.5417
Epoch 83/100
804/804  5s 6ms/step - accuracy: 0.7362 - loss: 0.5438
Epoch 84/100
804/804  6s 7ms/step - accuracy: 0.7305 - loss: 0.5477
Epoch 85/100
804/804  9s 5ms/step - accuracy: 0.7353 - loss: 0.5451
Epoch 86/100
804/804  6s 7ms/step - accuracy: 0.7361 - loss: 0.5401
Epoch 87/100
804/804  4s 5ms/step - accuracy: 0.7324 - loss: 0.5456
Epoch 88/100
804/804  6s 6ms/step - accuracy: 0.7357 - loss: 0.5443
Epoch 89/100
804/804  5s 6ms/step - accuracy: 0.7319 - loss: 0.5464
Epoch 90/100
804/804  4s 5ms/step - accuracy: 0.7336 - loss: 0.5433
Epoch 91/100
804/804  6s 7ms/step - accuracy: 0.7331 - loss: 0.5470
Epoch 92/100
804/804  9s 5ms/step - accuracy: 0.7320 - loss: 0.5473
Epoch 93/100
804/804  6s 7ms/step - accuracy: 0.7323 - loss: 0.5433
Epoch 94/100
804/804  9s 6ms/step - accuracy: 0.7349 - loss: 0.5438
Epoch 95/100
804/804  5s 7ms/step - accuracy: 0.7416 - loss: 0.5360
Epoch 96/100
804/804  4s 5ms/step - accuracy: 0.7401 - loss: 0.5362
Epoch 97/100
804/804  6s 7ms/step - accuracy: 0.7368 - loss: 0.5388
Epoch 98/100
804/804  5s 6ms/step - accuracy: 0.7326 - loss: 0.5466
Epoch 99/100
804/804  5s 5ms/step - accuracy: 0.7387 - loss: 0.5390
Epoch 100/100
804/804  6s 7ms/step - accuracy: 0.7358 - loss: 0.5410

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7310 - loss: 0.5574
Loss: 0.5573574900627136, Accuracy: 0.7309620976448059

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn_model3 = tf.keras.models.Sequential()

# First hidden layer
nn_model3.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))


# Second hidden layer
nn_model3.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn_model3.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='sigmoid'))
# Output layer
nn_model3.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))  # Sigmoid activation for binary classification


# Check the structure of the model
nn_model3.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense_6 (Dense)                       (None, 80)                             3,200

 dense_7 (Dense)                       (None, 30)                             2,430

 dense_8 (Dense)                       (None, 10)                               310

 dense_9 (Dense)                       (None, 1)                                 11

 Total params: 5,951 (23.25 KB)

 Trainable params: 5,951 (23.25 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
nn_model3.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [22]:
fit_model3 = nn_model3.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.6957 - loss: 0.5989
Epoch 2/100
804/804  1s 2ms/step - accuracy: 0.7348 - loss: 0.5505
Epoch 3/100
804/804  2s 3ms/step - accuracy: 0.7331 - loss: 0.5504
Epoch 4/100
804/804  2s 3ms/step - accuracy: 0.7335 - loss: 0.5465
Epoch 5/100
804/804  1s 2ms/step - accuracy: 0.7238 - loss: 0.5543
Epoch 6/100
804/804  3s 2ms/step - accuracy: 0.7283 - loss: 0.5508
Epoch 7/100
804/804  1s 2ms/step - accuracy: 0.7338 - loss: 0.5507
Epoch 8/100
804/804  3s 2ms/step - accuracy: 0.7322 - loss: 0.5478
Epoch 9/100
804/804  3s 2ms/step - accuracy: 0.7328 - loss: 0.5469
Epoch 10/100
804/804  2s 3ms/step - accuracy: 0.7306 - loss: 0.5468
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5377
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5406
Epoch 13/100
804/804  1s 2ms/step - accuracy: 0.7345 - loss: 0.5461
Epoch 14/100
804/804  3s 2ms/step - accuracy: 0.7304 - loss: 0.5459
Epoch 15/100
804/804  3s 3ms/step - accuracy: 0.7328 - loss: 0.5464
Epoch 16/100
804/804  4s 2ms/step - accuracy: 0.7334 - loss: 0.5427
Epoch 17/100
804/804  1s 2ms/step - accuracy: 0.7364 - loss: 0.5410
Epoch 18/100
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5416
Epoch 19/100
804/804  1s 2ms/step - accuracy: 0.7372 - loss: 0.5417
Epoch 20/100
804/804  1s 2ms/step - accuracy: 0.7416 - loss: 0.5378
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7344 - loss: 0.5415
Epoch 22/100
804/804  3s 3ms/step - accuracy: 0.7384 - loss: 0.5372
Epoch 23/100
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5399
Epoch 24/100
804/804  2s 2ms/step - accuracy: 0.7353 - loss: 0.5438
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5407
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5427
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7383 - loss: 0.5399
Epoch 28/100
804/804  4s 3ms/step - accuracy: 0.7346 - loss: 0.5419
Epoch 29/100
804/804  4s 2ms/step - accuracy: 0.7339 - loss: 0.5435
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5431
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5441
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5419
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5346
Epoch 34/100
804/804  3s 3ms/step - accuracy: 0.7317 - loss: 0.5425
Epoch 35/100
804/804  4s 2ms/step - accuracy: 0.7379 - loss: 0.5395
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5390
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5400
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5338
Epoch 39/100
804/804  3s 3ms/step - accuracy: 0.7436 - loss: 0.5312
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5399
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5403
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5371
Epoch 43/100
804/804  3s 2ms/step - accuracy: 0.7415 - loss: 0.5318
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7375 - loss: 0.5380
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5380
Epoch 46/100
804/804  3s 3ms/step - accuracy: 0.7343 - loss: 0.5356
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5357
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7375 - loss: 0.5394
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7402 - loss: 0.5329
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7420 - loss: 0.5314
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7386 - loss: 0.5379
Epoch 52/100
804/804  2s 3ms/step - accuracy: 0.7358 - loss: 0.5403
Epoch 53/100
804/804  3s 3ms/step - accuracy: 0.7438 - loss: 0.5315
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7395 - loss: 0.5307
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5384
Epoch 56/100
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5355
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5342
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5327
Epoch 59/100
804/804  4s 3ms/step - accuracy: 0.7419 - loss: 0.5342
Epoch 60/100
804/804  2s 3ms/step - accuracy: 0.7395 - loss: 0.5365
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5334
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5356
Epoch 63/100
804/804  3s 2ms/step - accuracy: 0.7386 - loss: 0.5347
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5342
Epoch 65/100
804/804  3s 3ms/step - accuracy: 0.7421 - loss: 0.5312
Epoch 66/100
804/804  3s 3ms/step - accuracy: 0.7356 - loss: 0.5394
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5352
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5368
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7410 - loss: 0.5323
Epoch 70/100
804/804  2s 2ms/step - accuracy: 0.7396 - loss: 0.5361
Epoch 71/100
804/804  1s 2ms/step - accuracy: 0.7437 - loss: 0.5300
Epoch 72/100
804/804  4s 3ms/step - accuracy: 0.7387 - loss: 0.5363
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5324
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.7418 - loss: 0.5339
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5352
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5363
Epoch 77/100
804/804  4s 3ms/step - accuracy: 0.7417 - loss: 0.5302
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5336
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7373 - loss: 0.5348
Epoch 80/100
804/804  3s 3ms/step - accuracy: 0.7356 - loss: 0.5392
Epoch 81/100
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5340
Epoch 82/100
804/804  3s 2ms/step - accuracy: 0.7359 - loss: 0.5373
Epoch 83/100
804/804  3s 3ms/step - accuracy: 0.7376 - loss: 0.5377
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5320
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5358
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.7395 - loss: 0.5342
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5323
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.7385 - loss: 0.5323
Epoch 89/100
804/804  3s 2ms/step - accuracy: 0.7422 - loss: 0.5294
Epoch 90/100
804/804  3s 3ms/step - accuracy: 0.7409 - loss: 0.5335
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7441 - loss: 0.5319
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7452 - loss: 0.5281
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7382 - loss: 0.5366
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5385
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7387 - loss: 0.5311
Epoch 96/100
804/804  3s 3ms/step - accuracy: 0.7394 - loss: 0.5326
Epoch 97/100
804/804  3s 3ms/step - accuracy: 0.7383 - loss: 0.5361
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.7454 - loss: 0.5280
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7416 - loss: 0.5306
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5318

In [23]:
model_loss, model_accuracy = nn_model3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7300 - loss: 0.5562
Loss: 0.5562271475791931, Accuracy: 0.7300291657447815

In [24]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.keras')
files.download('/content/AlphabetSoupCharity_Optimization.keras')