<a href="https://colab.research.google.com/github/tysenwadge/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
#Identify Target and Feature Variables
target = 'IS_SUCCESSFUL'
features = application_df.columns[application_df.columns != target].tolist()

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts<528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts[classification_value_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts[classification_value_counts<1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [15]:
#Check data types to determine categorical variables
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_data = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [19]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X.shape[1]
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))  # Sigmoid activation for binary classification


# Check the structure of the model
nn.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 80)                             3,520

 dense_4 (Dense)                       (None, 30)                             2,430

 dense_5 (Dense)                       (None, 1)                                 31

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
# Create a callback that saves the model's weights every five epochs
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath='AlphabetSoupCharity.weights.h5',  # File name to save the model
    save_weights_only=True,
    save_freq=5,  # Save weights every 5 epoch

)

In [27]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804  6s 5ms/step - accuracy: 0.7061 - loss: 0.5896
Epoch 2/100
804/804  4s 5ms/step - accuracy: 0.7305 - loss: 0.5561
Epoch 3/100
804/804  9s 10ms/step - accuracy: 0.7311 - loss: 0.5530
Epoch 4/100
804/804  7s 6ms/step - accuracy: 0.7277 - loss: 0.5532
Epoch 5/100
804/804  5s 6ms/step - accuracy: 0.7312 - loss: 0.5493
Epoch 6/100
804/804  5s 5ms/step - accuracy: 0.7327 - loss: 0.5485
Epoch 7/100
804/804  5s 6ms/step - accuracy: 0.7350 - loss: 0.5460
Epoch 8/100
804/804  5s 6ms/step - accuracy: 0.7332 - loss: 0.5452
Epoch 9/100
804/804  5s 5ms/step - accuracy: 0.7275 - loss: 0.5514
Epoch 10/100
804/804  8s 9ms/step - accuracy: 0.7367 - loss: 0.5444
Epoch 11/100
804/804  7s 5ms/step - accuracy: 0.7385 - loss: 0.5432
Epoch 12/100
804/804  6s 7ms/step - accuracy: 0.7327 - loss: 0.5471
Epoch 13/100
804/804  5s 6ms/step - accuracy: 0.7350 - loss: 0.5464
Epoch 14/100
804/804  4s 5ms/step - accuracy: 0.7372 - loss: 0.5433
Epoch 15/100
804/804  6s 7ms/step - accuracy: 0.7353 - loss: 0.5450
Epoch 16/100
804/804  9s 5ms/step - accuracy: 0.7363 - loss: 0.5461
Epoch 17/100
804/804  6s 6ms/step - accuracy: 0.7294 - loss: 0.5503
Epoch 18/100
804/804  4s 5ms/step - accuracy: 0.7337 - loss: 0.5470
Epoch 19/100
804/804  5s 6ms/step - accuracy: 0.7371 - loss: 0.5407
Epoch 20/100
804/804  5s 6ms/step - accuracy: 0.7371 - loss: 0.5420
Epoch 21/100
804/804  5s 5ms/step - accuracy: 0.7389 - loss: 0.5416
Epoch 22/100
804/804  6s 7ms/step - accuracy: 0.7404 - loss: 0.5389
Epoch 23/100
804/804  4s 5ms/step - accuracy: 0.7392 - loss: 0.5398
Epoch 24/100
804/804  4s 5ms/step - accuracy: 0.7374 - loss: 0.5425
Epoch 25/100
804/804  5s 7ms/step - accuracy: 0.7358 - loss: 0.5442
Epoch 26/100
804/804  9s 5ms/step - accuracy: 0.7379 - loss: 0.5409
Epoch 27/100
804/804  6s 6ms/step - accuracy: 0.7377 - loss: 0.5398
Epoch 28/100
804/804  4s 5ms/step - accuracy: 0.7350 - loss: 0.5411
Epoch 29/100
804/804  6s 6ms/step - accuracy: 0.7382 - loss: 0.5418
Epoch 30/100
804/804  9s 5ms/step - accuracy: 0.7405 - loss: 0.5398
Epoch 31/100
804/804  11s 13ms/step - accuracy: 0.7330 - loss: 0.5414
Epoch 32/100
804/804  14s 5ms/step - accuracy: 0.7376 - loss: 0.5419
Epoch 33/100
804/804  6s 6ms/step - accuracy: 0.7398 - loss: 0.5369
Epoch 34/100
804/804  5s 6ms/step - accuracy: 0.7324 - loss: 0.5432
Epoch 35/100
804/804  6s 8ms/step - accuracy: 0.7388 - loss: 0.5380
Epoch 36/100
804/804  9s 11ms/step - accuracy: 0.7403 - loss: 0.5338
Epoch 37/100
804/804  6s 7ms/step - accuracy: 0.7343 - loss: 0.5431
Epoch 38/100
804/804  7s 9ms/step - accuracy: 0.7430 - loss: 0.5356
Epoch 39/100
804/804  12s 11ms/step - accuracy: 0.7410 - loss: 0.5404
Epoch 40/100
804/804  6s 6ms/step - accuracy: 0.7366 - loss: 0.5394
Epoch 41/100
804/804  9s 11ms/step - accuracy: 0.7334 - loss: 0.5437
Epoch 42/100
804/804  6s 6ms/step - accuracy: 0.7402 - loss: 0.5343
Epoch 43/100
804/804  12s 15ms/step - accuracy: 0.7384 - loss: 0.5384
Epoch 44/100
804/804  13s 5ms/step - accuracy: 0.7455 - loss: 0.5344
Epoch 45/100
804/804  5s 6ms/step - accuracy: 0.7403 - loss: 0.5371
Epoch 46/100
804/804  6s 7ms/step - accuracy: 0.7370 - loss: 0.5385
Epoch 47/100
804/804  4s 5ms/step - accuracy: 0.7412 - loss: 0.5387
Epoch 48/100
804/804  5s 6ms/step - accuracy: 0.7418 - loss: 0.5367
Epoch 49/100
804/804  9s 5ms/step - accuracy: 0.7412 - loss: 0.5352
Epoch 50/100
804/804  5s 6ms/step - accuracy: 0.7410 - loss: 0.5340
Epoch 51/100
804/804  5s 6ms/step - accuracy: 0.7367 - loss: 0.5406
Epoch 52/100
804/804  5s 5ms/step - accuracy: 0.7439 - loss: 0.5309
Epoch 53/100
804/804  6s 7ms/step - accuracy: 0.7345 - loss: 0.5409
Epoch 54/100
804/804  4s 5ms/step - accuracy: 0.7434 - loss: 0.5352
Epoch 55/100
804/804  5s 5ms/step - accuracy: 0.7394 - loss: 0.5389
Epoch 56/100
804/804  6s 7ms/step - accuracy: 0.7369 - loss: 0.5414
Epoch 57/100
804/804  4s 5ms/step - accuracy: 0.7364 - loss: 0.5416
Epoch 58/100
804/804  5s 6ms/step - accuracy: 0.7385 - loss: 0.5384
Epoch 59/100
804/804  5s 6ms/step - accuracy: 0.7375 - loss: 0.5389
Epoch 60/100
804/804  4s 5ms/step - accuracy: 0.7410 - loss: 0.5347
Epoch 61/100
804/804  5s 7ms/step - accuracy: 0.7410 - loss: 0.5336
Epoch 62/100
804/804  5s 6ms/step - accuracy: 0.7432 - loss: 0.5337
Epoch 63/100
804/804  4s 5ms/step - accuracy: 0.7413 - loss: 0.5377
Epoch 64/100
804/804  5s 7ms/step - accuracy: 0.7393 - loss: 0.5367
Epoch 65/100
804/804  4s 5ms/step - accuracy: 0.7396 - loss: 0.5367
Epoch 66/100
804/804  5s 5ms/step - accuracy: 0.7394 - loss: 0.5367
Epoch 67/100
804/804  6s 7ms/step - accuracy: 0.7412 - loss: 0.5338
Epoch 68/100
804/804  10s 6ms/step - accuracy: 0.7408 - loss: 0.5341
Epoch 69/100
804/804  5s 6ms/step - accuracy: 0.7371 - loss: 0.5406
Epoch 70/100
804/804  4s 5ms/step - accuracy: 0.7419 - loss: 0.5347
Epoch 71/100
804/804  6s 7ms/step - accuracy: 0.7345 - loss: 0.5430
Epoch 72/100
804/804  4s 5ms/step - accuracy: 0.7396 - loss: 0.5356
Epoch 73/100
804/804  6s 7ms/step - accuracy: 0.7402 - loss: 0.5368
Epoch 74/100
804/804  5s 7ms/step - accuracy: 0.7402 - loss: 0.5354
Epoch 75/100
804/804  10s 6ms/step - accuracy: 0.7375 - loss: 0.5376
Epoch 76/100
804/804  10s 6ms/step - accuracy: 0.7394 - loss: 0.5351
Epoch 77/100
804/804  6s 7ms/step - accuracy: 0.7401 - loss: 0.5380
Epoch 78/100
804/804  9s 5ms/step - accuracy: 0.7374 - loss: 0.5408
Epoch 79/100
804/804  6s 7ms/step - accuracy: 0.7421 - loss: 0.5358
Epoch 80/100
804/804  4s 5ms/step - accuracy: 0.7389 - loss: 0.5332
Epoch 81/100
804/804  4s 5ms/step - accuracy: 0.7344 - loss: 0.5437
Epoch 82/100
804/804  6s 6ms/step - accuracy: 0.7394 - loss: 0.5322
Epoch 83/100
804/804  10s 6ms/step - accuracy: 0.7398 - loss: 0.5357
Epoch 84/100
804/804  5s 6ms/step - accuracy: 0.7354 - loss: 0.5398
Epoch 85/100
804/804  4s 5ms/step - accuracy: 0.7431 - loss: 0.5306
Epoch 86/100
804/804  6s 7ms/step - accuracy: 0.7396 - loss: 0.5367
Epoch 87/100
804/804  9s 5ms/step - accuracy: 0.7430 - loss: 0.5329
Epoch 88/100
804/804  6s 7ms/step - accuracy: 0.7419 - loss: 0.5356
Epoch 89/100
804/804  9s 6ms/step - accuracy: 0.7418 - loss: 0.5345
Epoch 90/100
804/804  6s 6ms/step - accuracy: 0.7451 - loss: 0.5314
Epoch 91/100
804/804  4s 5ms/step - accuracy: 0.7376 - loss: 0.5398
Epoch 92/100
804/804  5s 6ms/step - accuracy: 0.7423 - loss: 0.5342
Epoch 93/100
804/804  5s 6ms/step - accuracy: 0.7424 - loss: 0.5314
Epoch 94/100
804/804  5s 6ms/step - accuracy: 0.7388 - loss: 0.5350
Epoch 95/100
804/804  9s 5ms/step - accuracy: 0.7405 - loss: 0.5326
Epoch 96/100
804/804  5s 6ms/step - accuracy: 0.7431 - loss: 0.5356
Epoch 97/100
804/804  5s 7ms/step - accuracy: 0.7413 - loss: 0.5337
Epoch 98/100
804/804  10s 6ms/step - accuracy: 0.7380 - loss: 0.5375
Epoch 99/100
804/804  5s 6ms/step - accuracy: 0.7362 - loss: 0.5419
Epoch 100/100
804/804  4s 5ms/step - accuracy: 0.7418 - loss: 0.5348

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7286 - loss: 0.5564
Loss: 0.5563746094703674, Accuracy: 0.7286297082901001

In [34]:
# Export our model to HDF5 file
#filepath = r"\Users\tysenwadge\Desktop\Analysis Projects\Activity Files\Module 21\deep-learning-challenge\AlphabetSoupCharity.keras"
nn.save('AlphabetSoupCharity.keras')